:root {  
    --dark-background: rgb(20, 20, 20);
    --medium-background: rgb(30, 30, 30);
    --light-background: rgb(40, 40, 40);
    
    --light-gray: rgb(60, 60, 60);
    --dark-gray: rgb(46, 46, 46);
    --light-blue: rgb(121,212,255);
    --red: rgb(235,33,0);
    --blue: rgb(47,118,238);
    --bold-orange: rgb(237, 77, 38);
    --pale-orange: rgb(225, 179, 114);
    --muted-orange: rgb(205, 122, 96);
    --purple: rgb(125, 88, 153);


    --bold-yellow: rgb(245, 192, 0);
    --bold-green:rgb(89, 172, 30);

    --white-text:  rgb(255, 255, 255);
    --light-text:  rgb(183, 183, 183);
    --medium-text:  rgb(150, 150, 150);
    --dark-text:  rgb(80, 80, 80);
}


h1#delete{
    font-size: 5vh;
}
h3, h4, a {
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 4vmin;
}

hr#a {
    width: 85%;
    border: 1px solid var(--light-background);
}

span#act-ex {
    color: var(--blue);
}
span#warn {
    color: var(--red);
}

a {
    color: var(--pale-orange);
}

p {
    font-size: 4vmin;
}

.top-half {
    border: 2px solid var(--light-background);
    border-radius: 2vmin;
    background-color: var(--medium-background);
    width: 41vw;
    min-width: 500px;
}

.delete-card {
    margin: 2px;

}

.delete-card-header h1{
    color: var(--light-text);
    font-size: 4vh;
}

.delete-card-body {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    height: 22.5vh;
    margin: 3vmin;

}





.delete-form-btn-container {
    width: 100%;
    height: 6vh;
    display: flex;
    padding: 3px;
}




.cancel-del-btn {
    border: .5px solid var(--blue);
    margin: 1px;
    padding: 0px;
    min-height: 20px;

    

}
.cancel-del-btn:hover {
    border: .5px solid var(--dark-background);
    background-color: var(--blue);


}
.del-ex-btn {
    border: .5px solid var(--red);
    background-color: var(--dark-background);
    margin: 1px;
    padding: 0px;
    min-height: 20px;

}

.del-ex-btn:hover {
    border: .5px solid var(--dark-background);
    background-color: var(--red);
}


